<div class="col-md-12">
    <%= f.label :brand, "Marca", class: "form-label" %>
    <%= f.text_field :brand, class: "form-control" %>
</div>
<div class="col-md-12">
    <%= f.label :model, "Modelo", class: "form-label" %>
    <%= f.text_field :model, class: "form-control" %>
</div>
<div class="col-md-12">
    <%= f.label :color, "Cor", class: "form-label" %>
    <%= f.text_field :color, class: "form-control" %>
</div>