<%= render partial: 'engines/form_steps_js' %>
<%= form_with model: @engine do |f| %>
    <div style="margin:auto" class="col-md-6">
        <div id="car_step" class="card shadow md-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Carro</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <%= f.fields_for :car do |car_form| %>    
                        <%= render "engines/car_fields", f: car_form %>                            
                    <% end %>
                    <div class="clearfix">&nbsp;</div>
                    <div class="col-md-12" align="right">
                        <%= link_to "Voltar", engines_path, class: 'btn btn-secondary' %>
                        <button onclick="engine_step();" type="button" class="btn btn-primary">Próximo</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="engine_step" class="card shadow md-4" style="display:none;">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Motor</h6>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <%= f.label :cylinders, "Cilindros", class: "form-label" %>
                        <%= f.number_field :cylinders, class: "form-control", min: 0 %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :cylinder_positioning, "Posicionamento dos Cilindros", class: "form-label" %>
                        <%= f.text_field :cylinder_positioning, class: "form-control" %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :liters, "Litragem", class: "form-label" %>
                        <%= f.number_field :liters, class: "form-control", min: 0 %>
                    </div>
                    <div class="col-md-12">
                        <%= f.label :notes, "Observação", class: "form-label" %>
                        <%= f.text_area :notes, class: "form-control" %>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                </div>
                <div class="col-md-12" align="right">
                    <button onclick="car_step();" type="button" class="btn btn-primary">Anterior</button>
                    <%= f.submit "Salvar", class: 'btn btn-success' %>
                </div>
            </div>
        </div>
    </div>
<% end %>